doctype html
html(lang="en")
  head
    // Hey, you're looking at my source code. That's awesome!
    // This page was created by me from scratch.
    // Check out the original source here:
    |
    |
    <!-- https://github.com/DanHerbert/dan.herbert.io-landing -->
    title dan.herbert.io
    meta(name="viewport" content="width=device-width")
    meta(name="theme-color" content="#81c784")
    link(rel="icon" type="image/svg" size="any" href="/images/favicons/favicon.svg")
    - const faviconSizes = [1024,512,256,192,180,167,152,128,120,114,87,80,64,32,16]
    each size in faviconSizes
      link(rel="icon" type="image/png" size=`${size}x${size}` href=`/images/favicons/favicon-${size}.png`)
    link(rel="icon"
         type="image/x-icon"
         size="16x16 32x32 48x48 64x64 256x256"
         href="/images/favicons/favicon.ico")

    each size in faviconSizes
      link(rel="apple-touch-icon" type="image/png" sizes=`${size}x${size}` href=`/images/favicons/favicon-${size}.png`)

    link(rel="author"
         type="text/plain"
         href="https://dan.herbert.io/humans.txt")
    link(rel="me" href="https://mastodon.social/@danherbert")
    style
      include /main.css
  body
    main
      p.intro
        | I'm Dan Herbert, a software developer in the Philadelphia region currently open to work.
      p You can find me at these places:
      ul
        li: a.pdf(type="application/pdf" href="https://hrbrt.co/y9pd" target="_blank")
          | PDF Resume
        li: a(href="https://hrbrt.co/R23H") LinkedIn
        li: a(href="https://hrbrt.co/dmYz") StackOverflow
        li: a(href="https://hrbrt.co/rAvz") Github
        li: a(href="/danherbert.asc") PGP Key File
        li: a(href="https://hrbrt.co/aMKt") Mastodon
        li: a(href="https://hrbrt.co/G8jN") Threads
        // I will never use the new name.
        li: a(href="https://hrbrt.co/cenU") Formerly Known As Twitter
        li: a(href="https://hrbrt.co/vzhh") Letterboxd
        li: a(href="https://hrbrt.co/fa9b") Goodreads
        li: a(href="https://hrbrt.co/bSTk") Pinterest
        li: a(href="https://hrbrt.co/fkpy") Steam
        li: a(href="https://hrbrt.co/X4Gt") Duolingo
        li: a(href="https://hrbrt.co/7RBc") Keybase
        li: a(href="https://hrbrt.co/aAJE") Venmo
        li: a(href="https://hrbrt.co/rNqx") Paypal
        li: a(href="https://hrbrt.co/UmFQ") CashApp
        li: a(href="https://hrbrt.co/m2fZ") Snapchat

      p.pgp-info PGP Key fingerprint
        |
        |
        pre.key-fingerprint B692 4325 34E2 D4D6 9AF8  8FC7 A9FD 6A58 FE51 843E
